{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center text-4xl font-extrabold">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="rounded flex flex-col p-4  bg-yellow-300 justify-center max-w-lg mx-auto" method="post">
    <label class="rounded" for="username">Username</label>
    <input name="username" id="username" required>
    <label class="pt-2" for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input class="self-center w-1/4 p-2 flex items-center justify-center rounded-md bg-gradient-to-r from-red-500 to-blue-500 hover:from-red-700 hover:to-blue-700 text-white mt-8" type="submit" value="Log In">
  </form>
{% endblock %}
