{% extends 'base.html' %}

{% block header %}
  <p class="text-center">Join Yasmp</p>
  <h1 class="text-center text-4xl font-extrabold">{% block title %}Create Your Account{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="flex flex-col justify-center max-w-lg mx-auto" method="post">
    <div>
      <label for="firstname">First Name</label>
      <input class="w-1/2" name="firstname" id="firstname" required>
      <label class="w-1/2" for="lastname">Last Name</label>
      <input name="lastname" id="lastname" required>
    </div>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">email</label>
    <input name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}
