{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center text-4xl font-extrabold mb-4">{% block event %}Create a New Event{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form class="rounded flex flex-col p-4  bg-yellow-300 justify-center max-w-lg mx-auto" method="post">
    <label for="event">Name of Event</label>
    <input class="rounded" name="event" id="event" value="{{ request.form['event'] }}" required>
    <label for="time">time</label>
    <input class="rounded" name="time" id="time">{{ request.form['time'] }}</textarea>
    <label for="location">location</label>
    <input class="rounded" name="location" id="location">{{ request.form['location'] }}</textarea>
	
    <label for="description">description</label>
    <textarea class="rounded" name="description" id="description">{{ request.form['description'] }}</textarea>

    <input class="self-center mt-6 w-1/4 p-2 flex items-center justify-center rounded-md bg-gradient-to-r from-red-500 to-blue-500 hover:from-red-700 hover:to-blue-700 text-white" type="submit" value="Save">
  </form>
{% endblock %}
