{% extends 'base.html' %}

{% block header %}
    <header class="flex justify-between">
        <div>
          <h1 class="text-5xl font-bold text-indigo-600">{{ post['event'] }}</h1>
          <div class="text-2xl font-semibold text-indigo-500">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="text-2xl p-2 bg-green-300 hover:bg-green-400 rounded-md border border-gray-300 h-1/2" href="{{ url_for('events.update', id=post['id']) }}">Edit</a>
        {% endif %}
    </header>
{% endblock %}

{% block content %}
    <div class="">

      <p class="text-xl"><b>Time: </b>{{ post['time'] }}</p>
      <p class="text-xl"><b>Location: </b>{{ post['location'] }}</p>
      <p class="text-xl"><b>Description: </b>{{ post['description'] }}</p>
      <!-- <p class="button" href="{{'events.register' }} ">Register</p> -->

      <!--<button type="" >Register</button>-->
      <p class="text-xl"> <b>Users attending</b>
        {% for user in users %}
          {{ user["username"] }},
        {% endfor %}
      </p>
      <form action="{{ url_for('events.register', id=post['id']) }}" method="post" class="flex justify-center">
        <input  class="w-1/4 p-2 flex items-center justify-center rounded-md bg-gradient-to-r from-red-500 to-blue-500 hover:from-red-700 hover:to-blue-700 text-white" type="submit" value="Intrested? Register">
      </form>
    </div>
{% endblock %}
