<!doctype html>
<title>{% block title %}{% endblock %} - YASMP </title>
<link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
<nav class="flex items-center justify-between px-2 bg-yellow-200">
  <h1 class="text-4xl font-extrabold"><a href="{{ url_for('index') }}">YASMP</a></h1>
  <ul class="flex space-x-4 pl-4">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a class="p-2 hover:bg-yellow-300 rounded-md border border-gray-300" href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
      <li><a class="p-2 hover:bg-yellow-300 rounded-md border border-gray-300" href="{{ url_for('auth.register') }}">Register</a>
    {% endif %}
  </ul>
</nav>
<section class="p-2 bg-yellow-200 min-h-screen">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="bg-red-300 font-bold text-xl">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
